/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@font-face
{
font-family: Helvetica_neue;
src: url(../fonts/HelveticaNeue.otf);
}
@font-face
{
font-family: Helvetica_neue_bold;
src: url(../fonts/HelveticaNeue-Bold.otf);
}

body {
	width: 1080px;
	background: rgb(214,214,214);
	margin: auto;
	font-family: Helvetica_neue;
	font-size: 14px;

}
.bold {
	font-family: Helvetica_neue_bold;
}
p {
	line-height: normal;
}
.wrapper {
	background-color: white;
	width: 1080px;
}

header {
	background: rgb(51,49,50);
	width: 100%;
	height: 75px;
	line-height: 75px;
	border-bottom: 4px solid #00AAFB;

}
	.logo {
		float: left;
		padding: 25px 32px 0 0;
		margin-left: 65px;
	}


header a:link, header a:visited {color:#FFFFFF;}
header a:hover, header a:active {color:#00AAFB;}

 .nav {

      margin: 0 ;
      padding: 0;
      list-style: none;
      float: left;
      li {
      float: left;


      a {
      font-size: 17px;
      display: block;
      text-decoration: none;
      font-weight: bold;
      padding: 0 18px 0 18px;
     }

    }
}
     .header_username {
     	font-size: 14px;
     }

.on-right {
	margin-left: 300px;
}
nav {
	margin-left: 33px;
	float: left;
	width: 160px;
	text-align: center;
	background-color: white;
	padding: 0 35px 0 35px;
		.followers_main {
	width: 100%;
	height: 44px;
	border: 1px black solid;
	padding-top: -5px;
	margin-bottom: 13px;

			.followers {
				margin-top: 4px;
				float: left;
				width: 79px;
				height: 38px;
				border-right: 1px solid #00AAFB;
			}
			.following {
				margin-top: 4px;
				float: left;
				width: 79px;
				height: 38px;
				border-left: 1px solid #00AAFB;
			}

		}
		.follow_button {
			width: 100%;
			background-color:#00AAFB;
			height: 44px;
			line-height: 44px;
			color: white;
			margin: auto;
			
		}
		.followers_main_2
		{
		border-top: 1px solid #dcddde;
		border-bottom: 1px solid #dcddde;
		margin-top: 22px;
		padding: 10px 0 15px 0;
			.videos {
				margin-top: 4px;
				float: left;
				width: 79px;
				height: 38px;
			}

			.favorites {
				margin-top: 4px;
				float: left;
				width: 79px;
				height: 38px;
			}
}
.buy_trace {
	color: #00AAFB;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom:20px;
}
}
nav h1 {
	font-family: Helvetica_neue_bold;
	margin-top: 16px;
	font-size: 16px;
}
nav p {
	font-size: 12px;
}
	.avatar_large {
		width: 70px;
		height: 70px;
		border: 3px solid #00AAFB;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-image: url("../images/avatar.png");
		background-size: 70px;
		margin: auto;
		margin-top: 26px;

}
	.avatar_small {
		width: 38px;
		height: 38px;
		border: 2px solid #00AAFB;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-image: url("../images/avatar.png");
		background-size: 38px;
		vertical-align: middle;
		float: right;
		margin-top: 17px;
		margin-left: 10px;
	}
section {
	float: right;
	background-color: white;
	width:751px;


	padding-left: 5px;
	padding-right: 23px;
	margin-right: 38px;

}
.combine {
		vertical-align: middle;
		height: 125px;
		h1 {
			font-size: 16px;
			padding-top: 33px;
		}
		p{
			margin-top: 5px;
		}
		a:link,  a:visited	{
			color:#00AAFB;
			text-decoration: none;

		}
		a:hover, a:active	{
			color:#00AAFB;
			text-decoration: underline;
		}
}
div.clear {clear: both;}

.headings {
	height: 40px;
	border-top: 1px solid #dcddde;
	margin-top: 10px;
	img {
		float: left;
		padding-top: 21px;
		padding-bottom: 10px;
	}
	p {
		margin-top: 5px;
	}
	h1 {
		font-family: Helvetica_neue_bold;
		padding-top: 32px;
	}
}
.vid3 {
	height: 227px;
	width: 246px;
	margin-top: 20px;
	padding-right: 4px;
	float: left;
	img {
		margin-top: 8px;
	}
	h1 {
		text-transform: uppercase;
		font-family: Helvetica_neue_bold;

	}
	h2 {
		font-family: Helvetica_neue_bold;
		margin-top: 10px;
	}
	p {
		margin-top: 5px;
	}
}

.vid4 {
	height: 157px;
	width: 175px;
	margin-top: 20px;
	padding-right: 4px;
	float: left;
	img {
		margin-top: 8px;
	}
	h1 {
		text-transform: uppercase;
		font-family: Helvetica_neue_bold;

	}
	h2 {
		font-family: Helvetica_neue_bold;
		margin-top: 10px;
	}
	p {
		margin-top: 5px;
	}
}